a:link:hover{
    color:  rgb(142, 226, 31)!important;
  }
  
  body {
    padding-top: 5rem;
  }
  
  body, html {
    height: 100%;
  }
  
  
  footer{
    color:rgb(31, 226, 128);
  }
  
  img.rounded-corners{
    border-radius: 50%;
  } 
  
  table td, tr{
    color: rgb(30, 201, 107)
  
  }
  
  section {
    margin: 1rem;
    padding: 2rem;
    color: rgb(0, 0, 0);
    background-color: rgba(212, 250, 77, 0.85);
    border-radius: 2em;
  }
  
  .navbar{
    background-color: transparent; 
  }
  
  .navbar a,button,input {
    color: rgb(9, 14, 2) !important;
  }
  
  .bgimg {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    
  }
  
  
  
  .container {
    margin: 1rem;
    padding: 2rem;
    border-radius: 2em;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: rgba(9, 147, 228, 0.85);
    margin: 1rem;
    padding: 2rem;
    border-radius: 2em;
    box-shadow: 0 0 20px 0 rgba(217, 238, 25, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid rgb(11, 33, 230);
    background:  rgba(218, 192, 74, 0.85);
    color: rgb(11, 33, 230);
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 2em;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #11cae2;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: 1px solid  rgb(146, 230, 11);
    background: rgba(218, 74, 129, 0.85);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 2em;
  }
  
  #contact button[type="submit"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #11cae2;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #11cae2
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  fieldset {
    border: medium none !important;
    min-width: 100%;
    margin: 1rem;
    padding: 2rem;
    border-radius: 2em;
    width: 100%;
  }
  
  
  
  
  #app {
    background: rgba(8, 248, 60, 0.85);
    margin: 1rem;
    padding: 2rem;
    border-radius: 2em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-left: auto;
    margin-right: auto;
    text-align: center 
  }
  
  #app textarea {
    width: 100%;
    border: 1px solid rgb(230, 142, 11);
    background: rgb(100, 100, 100, .85);
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 2em;
  }
  
  #app button[type="submit"] {
    width: 25%;
    border: 1px solid  rgb(230, 142, 11);
    background: rgba(8, 248, 60, 0.85);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 2em;
  }
  
  #app button[type="submit"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #11cae2;
  }
  
  #app input[type="text"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #11cae2;
  }
  
  input{
    margin: 1rem;
    padding: .3rem;
    border-radius: 2em;
    width: 100%;
    border: 1px solid rgb(230, 142, 11);
    background: rgb(100, 100, 100, .85);
  }
  
  #app h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  
  .text-field{
    width: 100px;
  }
  
  
  .fa {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }